body{
  font-family: "Montserrat";
  background-image: url('https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=332&q=80')
}
.main{
  font-size: 10rem;
  font-family: 'Klee One', cursive;
  margin-left: 6rem;
  color: #012443;
}
input {
    margin-left: 4rem;
    height: 4rem;
    width: 40rem;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius:10px;
}
.add{
  width: 9rem;
  height: 4.1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  position: absolute;
  margin-left:1rem;
}
.clear{
  width: 9rem;
  height: 4.1rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-left:10.5rem;
}
.fill{
  margin-top: 5rem;
}
#pending{
  margin-left: 18rem;
  margin-top: 2rem;
  border-radius: 0px;
  width: 50rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.listing{
  margin-left: 2rem;
  margin-top: 5rem;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
ul li {
  cursor: pointer;
  position: relative;
  margin-left: 2rem;
  width: 49rem;
  padding: 12px 8px 12px 10px;
  background: #eee;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  transition: 0.2s;
}
#clr{
   position: relative;
   width: 50rem;
   margin-left: 4rem;
   margin-bottom: 5rem;
}
.whole{
  width: 60rem;
  background-color: #FFDFAF;
  margin-left: 13rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  border-radius: 20px;
}
